<%= link_to 'Back', articles_path %>

<h1><%= @article.title %></h1>
<p>By <%= link_to @article.author.name, @article.author %></p>
<div class="article content">
	<p><%= @article.body %></p>
	<%= link_to 'Edit', edit_article_path(@article) %> 
	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<!-- 1. Fix the database query in view. This will blow up unless we account for the unsaved comment -->
<!-- 4. (Back to keynote). Change the code below to render a partial for a collection -->

<%= render partial: @article.comments %>

<!-- 2. Change the code below to render a partial for the comment form; send a local variable for comment -->
<!-- 3. (Back to keynote) Then, make it accessible as a shared partial -->

<%= render partial: 'shared/comment_form', locals: { comment: @comment } %>

